main a {
    color: blue;
}
main a:visited {
    color: navy;
}
main a.selected {
    font-weight: bold;
}
fieldset {
    margin: 2px 0;
    padding:  0.35em 0.75em 0.75em 0.625em;
    border-width: 1.5px;
}
legend {
    padding: 2px 2px;
    font-weight: bold;
    font-size: 14px;
}

aside {
    width: 230px;
    float: left;
}
aside ul {
    list-style-type: none;
}
aside h1 {
    padding: 0 0.8em;
    border-bottom: 1px solid #999;
    font-weight: normal;
    color: #777;
    background: #eee;
    font-size: 20px;
    width: 230px;
    min-height: 62px;
    max-height: 62px;
    line-height: 62px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
aside h3 {
    margin-bottom: 5px;
}
aside a, aside a:visited {
    color: blue;
}

article {
    padding-left: 10px;
    overflow: hidden;
}
article > h2 {
    padding: .8em 1em;
    border-bottom: 1px solid #000;
    color: #000;
    font-weight: normal;
    background: #ddf;
    min-height: 62px;
    max-height: 62px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.red {
    color: red;
    font-weight: bold;
}

.green {
    color: #21b552;
    font-weight: bold;
}

fieldset {
    display: inline;
    vertical-align: top;
    padding: .5em .8em;
    margin: .8em .5em 0 0;
    border: 1px solid #999;
}

article h3 {
    font-weight: normal;
    font-size: 130%;
    margin: 1em 0 0;
}

/* Tables
--------------------------------------------------------------------------------*/
table {
    margin: 1em 20px 0 0;
    border-collapse: collapse;
    font-size: 90%;
}


td, th {
    border: 1px solid #999;
    padding: .2em .3em;
}
th {
    background: #eee;
    text-align: left;
}

thead td, thead th {
    background: #ddf;
}

thead th {
    text-align: center;
    padding: .2em .5em;
}

tbody tr:nth-child(odd) td {
    background: #F5F5F5;
}

/* Blacklist Page
--------------------------------------------------------------------------------*/
.blacklist_table .fieldtype {
    width: 120px;
}
.blacklist_table .fieldval {
    width: 200px;
}
.blacklist_table .blacklisted_utc {
    width: 250px;
}
.blacklist_table .blacklisted_by {
    width: 200px;
}
.blacklist_table .attempts {
    width: 50px;
}
.blacklist_table input[type=submit] {
    font-size: 11px;
    padding: 2px;
}


/* App View
--------------------------------------------------------------------------------*/
.App__view {
    background: #f0f0f0;
    max-width: 1100px;
    margin-bottom: 10px;
}
.App__head {
    background: #ddf;
    color: #000;
    padding: 2px 5px;
}
.App__main {
    display: -webkit-flex;
    display: flex;
}
.App__main > * {
    width: 50%;
    box-sizing: border-box;
}
.App__main > *:last-child {
    border-left: 1px solid #bbb;
}
.App__main > * > h3 {
    background: #ccc;
    font-size: 14px;
    padding-left: 5px;
    margin: 0;
}

.App__main dl, .DL_area dl {
    display: block;
}
.App__main dl dt, .DL_area dl dt,
.App__main dl dd, .DL_area dl dd {
    border-top: 1px solid #ccc;
    padding: 1px 5px;
}
.App__main dl dt, .DL_area dl dt {
    display: block;
    font-weight: bold;
    float: left;
    width: 150px;
    font-size: 12px;
    color: #202020;
    text-transform: uppercase;
    box-sizing: border-box;
}
.App__main dl dd, .DL_area dl dd {
    display: block;
    margin-left: 150px;
    font-size: 14px;
}
.App__main dl dd a, .DL_area dl dd a {
    font-size: 12px;
}

.App__main dl dt:before, .DL_area dl dt:before {
    content: '';
    display: table;
}
.App__main dl dd:after, .DL_area dl dd:after {
    content: '';
    display: table;
    clear: both;
}
.App__main button[type=submit][name=action] {
    padding: 2px;
    margin-top: 5px;
    min-width: 100px;
    margin-right: 10px;
}

.App__main dl dd textarea, .DL_area dl dd textarea {
    display: block;
    width: 100%;
    font-family: Verdana, Arial, sans-serif;
    padding: 5px;
    box-sizing: border-box;
}

.App__main dl dd input[type=text], .DL_area dl dd input[type=text],
.App__main dl dd input[type=number], .DL_area dl dd input[type=number]  {
    display: block;
    width: 100%;
    padding: 2px 5px;
    box-sizing: border-box;
}

.App__clanDescEdit {
    min-height: 150px;
    resize: vertical;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 0;
}

.App__editableField .status {
    margin-left: 5px;
    font-weight: bold;
}

/* History Page
--------------------------------------------------------------------------------*/
.historyNav {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.historyNav p {
    margin-right: 8px;
}
.historyNav button {
    margin-left: 2px;
    padding: 1px 3px;
}

.App__history .historyNav {
    max-width: 1100px;
}

/* Message Page
--------------------------------------------------------------------------------*/
.DirectMessageForm {
    margin-top: 10px;
}

.DirectMessageForm input[type=text] {
    padding: 3px;
    min-width: 400px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.DirectMessageForm textarea {
    margin-top: 5px;
    padding: 5px;
    min-width: 600px;
    min-height: 200px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 15px;
}

.DirectMessageForm button {
    padding: 3px 12px;
    font-size: 14px;
    font-family: Roboto, sans-serif;
}