/* wrapper
--------------------------------------------------------------------------------*/
.deployable_stylesheet_area {
    max-width: 980px;
    margin: 0 auto;
}
.deployable_stylesheet_area > h2 {
    color: hsla(232,20%,32%,0.95);
    font-variant: all-small-caps;
    font-weight: 700;
}

/* container
--------------------------------------------------------------------------------*/
.deployable_stylesheet {
    box-shadow:
        0 0px 3px 0 hsla(232,20%,32%,0.15),
        0 0 1px 0 hsla(232,20%,32%,0.06),
        0 2px 2px 1px hsla(232,20%,32%,0.14);
    background: hsla(206, 12%, 94%, 1);
    border-radius: 3px;
    margin: 10px 0 10px;
    overflow: hidden;
}
.deployable_stylesheet .header {
    padding: 0 10px;
    box-sizing: border-box;
    height: 30px;
    line-height: 28px;
    border-top: .5px solid hsl(206, 12%, 89%);
    background: hsla(206, 12%, 95%, 1);
    position: relative;
    z-index: 2;
}
.deployable_stylesheet .header h2 {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
    color: hsla(232,20%,32%,0.9);
}

/* standard module
--------------------------------------------------------------------------------*/
.module, .new_user_module_area {
    border-bottom: 1px solid hsl(206, 12%, 89%);
    background: #fff;
}

.module .module_styles {
    padding: 10px;
}
.module textarea {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    min-height: 100px;
    padding: 5px;
}

.module .module_name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
}
.module .module_name .collapse-trigger {
    display: flex;
    align-items: center;
    margin-left: 7px;
    height: 30px;
    display: flex;
    align-items: center;
}
.module .module_name .collapse-trigger .icon {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: hsla(206, 12%, 45%, 1);
}
.module.collapsable-initialized > .module_name .collapse-trigger .icon {
    transition: transform 200ms ease;
}
.module .module_name .collapse-trigger .icon:hover {
    background: hsla(204,90%,50%,1);
    color: #fff;
}
.module .module_name .collapse-trigger .icon:active {
    background: #3daaf5;
    color: #fff;
}
.module .module_name .collapse-trigger.collapsed .icon {
    transform: rotate(-90deg);
}
.module .module_name h3 {
    font-weight: normal;
    padding: 0 5px;
    font-family: Roboto;
    font-size: 13px;
}
.module_name input[type=text] {
    border: 1px solid transparent;
    padding: 2px 5px;
    font-family: Roboto;
    font-size: 13px;
    background: #f3f3f3;
    border-radius: 3px;
    color: rgba(0,0,0,0.8);
    width: 162px;
    box-sizing: border-box;
}
.module_name input[type=text]:hover {
    border-color: rgba(0,0,0,.15);
}

@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .module_name input[type=text] {
        border-width: 0.5px;
    }
}

.module .module_state,
.module .module_notice,
.module .module_orderTools {
    display: flex;
    align-items: center;
}
.module .module_state:before,
.module .module_notice:before,
.module .module_orderTools .sep {
    content: '';
    display: block;
    height: 10px;
    width: 1px;
    background: #ccc;
    margin: 0 7px 0 5px;
}
.module .module_state > span {
    color: #aaa;
    font-size: 13px;
    margin-right: 3px;
}
.module .module_notice {
    color: red;
    margin-left: 5px;
}
.module .module_notice > span:not(.hide) + span:not(.hide):before {
    content: ', ';
}

.module .module_tools {
    margin-right: 10px;
    font-size: 12px;
}
.module.is--deleted .module_tool__delete > span:first-child {
    display: none;
}
.module:not(.is--deleted) .module_tool__delete > span:last-child {
    display: none;
}

.module .module_orderTools {
    margin-left: 5px;
}
.module .module_orderTools .sep {
    margin: 0 2px;
}

.module .module_movePriorityUp,
.module .module_movePriorityDown {
    display: flex;
    width: 20px;
    height: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.user_modules > .module:first-child .module_movePriorityUp {
    opacity: 0.5;
    cursor: default;
}
.user_modules > .module:nth-last-child(2) .module_movePriorityDown {
    opacity: 0.5;
    cursor: default;
}

.user_modules > .module:not(:first-child) .module_movePriorityUp:hover,
.user_modules > .module:not(:nth-last-child(2)) .module_movePriorityDown:hover {
    background: hsla(204,90%,50%,1);
    color: #fff;
    cursor: pointer;
}
.user_modules > .module:not(:first-child) .module_movePriorityUp:active,
.user_modules > .module:not(:nth-last-child(2)) .module_movePriorityDown:active {
    background: #3daaf5;
    color: #fff;
}

/* core modules
--------------------------------------------------------------------------------*/
.module:not(.base_module), .new_user_module_area {
    margin-left: 10px;
    border-left: 1px solid hsl(207, 12%, 86%);
}
.module.core_module textarea {
    outline: 0 !important;
    color: #8a8a8a;
}

/* base module
--------------------------------------------------------------------------------*/
.module.base_module,
.deployable_stylesheet .deploy_area {
    background: #fff;
    position: relative;
    border-bottom: 0;
}
.module.base_module .module_name,
.deployable_stylesheet .deploy_area {
    box-shadow: 0 1px 4px hsla(207, 12%, 85%, 1);
}
.module.base_module .module_name h3 {
    color: hsla(232,20%,32%,0.6);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11.5px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

/* user base
--------------------------------------------------------------------------------*/
.user_base {
    margin-top: -1px;
}
.new_user_module_area {
    padding: 10px;
}

/* Collapsable
--------------------------------------------------------------------------------*/
.collapsable {
    overflow: hidden;
    visibility: hidden;
    max-height: 0px;
}
.collapsable-initialized {
    visibility: visible;
    max-height: initial;
}
.collapse-trigger {
    cursor: pointer;
}

/* deploy area
--------------------------------------------------------------------------------*/
.deploy_area {
    display: flex;
    align-items: center;
    padding: 10px 5px 8px 20px;
    margin-top: -1px;
}
.deploy_status {
    font-size: 13px;
    margin-left: 8px;
}
.deploy_status.success {
    color: #408e40;
}
.deploy_status.failure {
    color: red;
}

/********************************************************************************
* BUTTONS
*********************************************************************************/
button.action,
button.primary,
button.secondary {
    display: inline-block;
    position: relative;
    margin: 0 5px 1px 0;
    padding: 0 10px;
    line-height: 29px;
    min-width: 77px;

    font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 15px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 3px;

    cursor: pointer;
    transition: all 200ms ease;
}

button.action:hover,
button.primary:hover,
button.secondary:hover {
    outline: 0;
}

/* Primary buttons
--------------------------------------------------------------------------------*/
button.primary:not(.disabled):not([disabled]):active {
    transform: translateY(0.5px);
}

button.primary, button.action {
    background-color: #3daaf5;
    color: white;
    border: 1px solid hsla(204,90%,50%,1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.35);
}

button.primary.cancel,
button.primary[disabled],
button.primary.disabled {
    background-color: rgba(0,0,0,0.3);
    border-color: rgba(0,0,0,0.15);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
}

button.primary.danger,
button.primary.no {
    background-color: rgba(230, 69, 72, 0.7);
    border-color: rgba(230, 69, 72, 0.6);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
}

button.primary.yes {
    background-color: hsla(133, 46%, 59%, 1);
    border: 1px solid hsla(133, 46%, 48%, 1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
}

button > .icon:first-child {
    margin-right: 7px;
}
button > .icon-span:first-child {
    display: inline-block;
    min-width: 12px;
    margin-right: 3px;
}

button.primary.big, button.action.big {
    padding: 0 25px;
    line-height: 42px;
    font-size: 16px;
}

/* primary--2 buttons
--------------------------------------------------------------------------------*/
button.primary.primary--2 {
    box-shadow: none;
    border: 0;
    background: hsla(204,90%,50%,1);
}
button.primary.primary--2:hover {
    background: #3daaf5;
}
button.primary.primary--2:not(.disabled):not([disabled]):active {
    transform: translateY(0px);
}
button.primary.primary--2:focus {
    outline: 0;
    box-shadow: 0 0 0 2.5px rgba(0,140,221,.2);
}
button.primary.primary--2[disabled] {
    background: hsla(210, 40%, 84%, 1);
}


/********************************************************************************
* TOGGLE SWITCH
*********************************************************************************/
.ui-switch {
    height: 32px;
    width: 78px;
    background: #eaeaea;
    border: 1px solid #dedede;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
}
.ui-switch input {
    position: absolute;
    visibility: hidden;
}
.ui-switch label,
.ui-switch div {
    cursor: pointer;
}
.ui-switch label:before, .ui-switch label:after,
.ui-switch div:before, .ui-switch div:after {
    position: absolute;
    width: 39px;
    height: 32px;
    font-size: 14px;
    top: 0;
    text-align: center;
    line-height: 32px;
    z-index: 4;
}
.ui-switch label:before,
.ui-switch div:before {
    content: 'On';
    left: 0;
    background: #3daaf5;
    color: white;
    margin: -1px;
}
.ui-switch label:after,
.ui-switch div:after {
    content: 'Off';
    right: 0;
}
.ui-switch input:checked + .knob {
    left: 38px;
}
.ui-switch input:not(:checked) + .knob {
    left: -1px;
}
.ui-switch .knob {
    width: 39px;
    height: 32px;
    position: absolute;
    top: 0;
    margin-top: -1px;
    display: block;
    background: white;
    border: 1px solid #dedede;
    box-sizing: border-box;
    z-index: 5;
    left: 0;
    transition: left 200ms ease;
}
.ui-switch .knob:before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid #bcbcbc;
    top: 50%;
    left: 50%;
    margin-left: -6px;
    margin-top: -4px;
}
.ui-switch .knob:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #bcbcbc;
    top: 50%;
    left: 50%;
    margin-left: 2px;
    margin-top: -4px;
}


.ui-switch.ui-switch--small {
    height: 20px;
    width: 40px;
}

.ui-switch.ui-switch--small label:before, .ui-switch.ui-switch--small label:after,
.ui-switch.ui-switch--small div:before, .ui-switch.ui-switch--small div:after,
.ui-switch.ui-switch--small .knob {
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 10px;
}

.ui-switch.ui-switch--small input:checked + .knob {
    left: 19px
}
.ui-switch.ui-switch--small .knob:before,
.ui-switch.ui-switch--small .knob:after {
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    margin-top: -3px;
}
.ui-switch.ui-switch--small .knob:before {
    margin-left: -5px;
}
.ui-switch.ui-switch--small .knob:after {
    margin-left: 1px;
}

/********************************************************************************
* FLASH
*********************************************************************************/
.flash {
    animation: flash 1s ease-out;
}

@keyframes flash {
    0% {
        background: transparent;
    }
    20% {
        background: #ffc;
    }
}
.hard-flash {
    animation: hard-flash 500ms ease-out;
}

@keyframes hard-flash {
    0% {
        background: transparent;
    }
    20% {
        background: red;
    }
}