.flair-form {
    padding-bottom: 50px;
}
.flair-table {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #999;
}
.flair-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 120px;
    cursor: pointer;
    font-size: 10.5px;
}
.flair-option:not(.flair-option-disabled):hover, .flair-option:not(.flair-option-disabled).selected {
    background: #e0e0e0;
}
.flair-option.flair-option-disabled {
    cursor: default;
}
.flair.flair-none {
    background: #e3e3e3;
}

main h1 {
    display: inline-block;
    border-bottom: 2px solid #000;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}

.flair-display-inner {
    padding: 10px 20px 10px 10px;
    background: #efefef;
    display: -webkit-flex;
    display: flex;
}

.flair.flair-submit-area {
    margin-top: 5px;
    width: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.flair-submit-field input[type=text] {
    width: 200px;
}

.flair-option div:last-child {
    max-width: 90px;
    overflow-wrap: break-word;
    line-height: 14px;
    height: 28px;
    text-align: center;
    margin-top: 5px;
}

.flair-search-active .flair-option {
    display: none;
}

.flair-searchbox {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    background: #f0f0f0;
    margin-top: 20px;
    padding: 3px 0 3px 12px;
}

#flair-search-text, #flair-category-filter {
    line-height: 22px;
    height: 22px;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    border: 1px solid #b5b5b5;
    min-width: 300px;
    box-sizing: border-box;
    background: #fff;
}
#flair-search-text:focus {
    outline: 0;
    border-color: #b78c25;
}

.flair-searchbox__NoResults {
    margin-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
}

#flair-category-filter {
    min-width: 175px;
    padding-left: 5px;
}

@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    #flair-search-text, #flair-category-filter {
        border-width: 0.5px;
    }
}

.reddit-login-button {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #b78c25;
    background-color: #b78c25;
    font-family: Roboto, 'sans-serif';
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 50px;
    height: 50px;
    font-weight: bold;
    text-align: center;
    min-width: 350px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 200ms ease;
    padding: 0 10px;
    box-sizing: border-box;
}
.reddit-login-button:hover {
    background: #f5f5f5;
    color: #b78c25;
}

@media (max-width: 800px) {
    .flair-table {
        -webkit-justify-content: center;
        justify-content: center;
    }
}

@media (max-width: 558px) {
    .flair-searchbox {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        padding-right: 12px;
    }
    #flair-search-text {
        min-width: initial;
        width: 100%;
    }
}
@media (max-width: 410px) {
    .reddit-login-button {
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 2px;
        min-width: initial;
    }
}