.page--homepage main {
    padding: 0;
    background: rgb(18, 23, 28);
}

.wrap {
    max-width: 1695px;
    box-sizing: border-box;
    margin: 0 auto;
}

/* ==========================================================================================
   Banner
   ========================================================================================== */
#banner {
    min-height: 300px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    position: relative;
}

#banner > * {
    z-index: 5;
    position: relative;
}

#banner__wrap {
    padding-top: 90px;
    padding-left: 40px;
}

#banner > .wrap {
    height: 100%;
}

#banner:before, #banner__gradient {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

#banner:before {
    background: url(/assets/images/ttbg2o.png) no-repeat top center / 1267px auto;
    z-index: 3;
    width: 1267px;
    box-shadow:
        inset #010916 4px 1px 9px -6px,
        inset #021020 -4px 1px 9px -6px,
        inset 0 -1px 10px rgba(0,0,0,0.5);
    left: 50%;
    transform: translateX(-50%);
}

#banner__gradient {
    z-index: 1;
}

#banner #banner__gradient:before {
    content: '';
    background: linear-gradient(#01030c, #010713, #010a17);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    z-index: 0;
}
#banner #banner__gradient:after {
    content: '';
    background: linear-gradient(#01050f, #010916, #020f1d, #021020, #021020);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    z-index: 0;
}

#banner > #banner__stars {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}

/* Banner Interior
------------------------------------------------------------------------------------------ */

#banner__title {
    display: flex;
    border-top: 1px solid #fff;
    padding-top: 10px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 15px;
    width: 422px;
    text-align: center;
    font-size: 0;
    opacity: 0;
    -webkit-animation: fade-in 2s ease-out forwards;
    animation: fade-in 2s ease-out forwards;
}

#banner__title span {
    font-size: 30px;
}
#banner__title > span:first-child {
    margin-left: -1px;
}
#banner__title > span:last-child {
    letter-spacing: 0;
}

@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    #banner__title {
        border-top-width: .5px;
    }
}


#banner__title {
    background: #bbb -webkit-linear-gradient(130deg, #bbb 0%, #fff 10%, #bbb 20%, #bbb 75%, #fff 95%, #bbb 100%) 0 0 no-repeat;
    background: #bbb -moz-linear-gradient(130deg, #bbb 0%, #fff 10%, #bbb 20%, #bbb 75%, #fff 95%, #bbb 100%) 0 0 no-repeat;
    background: #bbb -ms-linear-gradient(130deg, #bbb 0%, #fff 10%, #bbb 20%, #bbb 75%, #fff 95%, #bbb 100%) 0 0 no-repeat;
    background: #bbb linear-gradient(130deg, #bbb 0%, #fff 10%, #bbb 20%, #bbb 75%, #fff 95%, #bbb 100%) 0 0 no-repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
    text-shadow: 0 0px 1px rgba(255,255,255,0.3);
    -webkit-animation: fade-in 2s ease-out forwards, shine-text 5s linear infinite;
    -moz-animation: fade-in 2s ease-out forwards, shine-text 5s linear infinite;
    -ms-animation: fade-in 2s ease-out forwards, shine-text 5s linear infinite;
    animation: fade-in 2s ease-out forwards, shine-text 5s linear infinite;
}

/* Banner Links
------------------------------------------------------------------------------------------ */
#banner__linksWrap {
    margin-top: 30px;
    width: 422px;
}

#banner__linksWrap .banner__links {
    justify-content: center;
}

.no-js #banner__linksWrap {
    animation: fade-in 1s;
}

#banner__linksWrap.js-intro .banner__links .banner__link {
    transform: translateY(-3px) translateZ(0);
    -webkit-animation: banner-links-intro 2s linear forwards;
    animation: banner-links-intro 2s linear forwards;
    opacity: 0;
    will-change: transform;
}
#banner__linksWrap.js-intro .banner__link.banner__link--subreddit {
    animation-delay: 200ms;
}
#banner__linksWrap.js-intro .banner__link.banner__link--discord {
    animation-delay: 350ms;
}
#banner__linksWrap.js-intro .banner__link.banner__link--twitter {
    animation-delay: 500ms;
}

.no-js #banner__linksWrap .banner__links .banner__link,
#banner__linksWrap .banner__links .banner__link.js-intro-complete {
    transform: translateZ(0);
    will-change: transform;
    backface-visibility: hidden;
    -webkit-animation: small-bob 2s ease-in infinite;
    animation: small-bob 2s ease-in infinite;
}
.no-js #banner__linksWrap .banner__link.banner__link--subreddit {
    animation-delay: 0ms;
}
.no-js #banner__linksWrap .banner__link.banner__link--discord {
    animation-delay: 500ms;
}
.no-js #banner__linksWrap .banner__link.banner__link--twitter {
    animation-delay: 1000ms;
}

@-webkit-keyframes banner-links-intro {
    0% {
        opacity: 0;
        transform: translateY(-7px);
    }
    25% {
        opacity: 0.5;
        transform: translateY(0px);
    }
    50% {
        opacity: .75;
        transform: translateY(2px);
    }
    100% {
        opacity: .75;
        transform: translateY(0);
    }
}
@keyframes banner-links-intro {
    0% {
        opacity: 0;
        transform: translateY(-7px);
    }
    25% {
        opacity: 0.5;
        transform: translateY(0px);
    }
    50% {
        opacity: .75;
        transform: translateY(2px);
    }
    100% {
        opacity: .75;
        transform: translateY(0);
    }
}

/* Banner Panels
------------------------------------------------------------------------------------------ */
#banner__panels {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 310px;
}

#banner__panels .panel {
    font-size: 16px;
    color: #fff;
}

#banner__panels .panel > h2 {
    background: hsla(274,22%,26%,.9);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 3px 10px;
    color: #fff;
    text-shadow: none;
    border: 0;
}

#banner__panels .panel ul.content {
    background: rgba(0,0,0,.5);
    padding: 5px 7px;
    list-style-type: none;
}

#banner__panels .panel ul.content li {
    margin-bottom: 3px;
}

#banner__panels .panel ul.content li a {
    display: block;
    padding: 0 10px;
    background: rgba(255,255,255,.08);
    color: rgba(255,255,255,0.6);
    text-shadow: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: background 50ms ease-out;
}
#banner__panels .panel ul.content li a:hover {
    background: rgba(255,255,255,.2);
    color: rgba(255,255,255,0.8);
}

/* ==========================================================================================
   Panel Base
   ========================================================================================== */

.panel, .tweet {
    display: block;
    color: rgba(245, 245, 245, 0.65);
    background: rgba(245, 245, 245, 0.05);
    box-sizing: border-box;
}
.panel, .tweets {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

a.panel:not(.promo):hover, .tweet:hover {
    background: rgba(245, 245, 245, 0.08);
}

.panel a, .tweet a {
    color: rgba(94, 184, 208, 0.7);
}
.panel a:hover, .tweet a:hover {
    color: rgba(94, 184, 208, 0.95);
}

.panel .content {
    padding: 20px;
    box-sizing: border-box;
}

/* ==========================================================================================
   Misc Animations
   ========================================================================================== */

@keyframes small-bob {
    0% {
        transform: translateZ(0) translateY(0);
    }
    40% {
        transform: translateZ(0) translateY(2px);
    }
    100% {
        transform: translateZ(0) translateY(0);
    }
}
@-webkit-keyframes small-bob {
    0% {
        transform: translateZ(0) translateY(0);
    }
    40% {
        transform: translateZ(0) translateY(2px);
    }
    100% {
        transform: translateZ(0) translateY(0);
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    opacity: 0;
    animation: fade-in 250ms linear forwards;
}

@-webkit-keyframes from-left {
    from {
        transform: translateX(-25px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes from-left {
    from {
        transform: translateX(-25px);
    }
    to {
        transform: translateX(0);
    }
}

.snap-in-from-left {
    opacity: 0;
    animation: from-left 200ms ease-out 200ms forwards, fade-in 250ms linear 200ms forwards;
    animation: from-left 200ms ease-out 200ms forwards, fade-in 250ms linear 200ms forwards;
}

@-webkit-keyframes from-right {
    from {
        transform: translateX(25px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes from-right {
    from {
        transform: translateX(25px);
    }
    to {
        transform: translateX(0);
    }
}

.snap-in-from-right {
    opacity: 0;
    -webkit-animation: from-right 200ms ease-out 200ms forwards, fade-in 250ms linear 200ms forwards;
    animation: from-right 200ms ease-out 200ms forwards, fade-in 250ms linear 200ms forwards;
}

@-webkit-keyframes from-bottom {
    from {
        transform: translateY(25px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes from-bottom {
    from {
        transform: translateY(25px);
    }
    to {
        transform: translateY(0);
    }
}
.snap-in-from-bottom {
    opacity: 0;
    -webkit-animation: from-bottom 200ms ease-out 200ms forwards, fade-in 250ms linear 200ms forwards;
    animation: from-bottom 200ms ease-out 200ms forwards, fade-in 250ms linear 200ms forwards;
}

@-webkit-keyframes from-top {
    from {
        transform: translateY(-25px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes from-top {
    from {
        transform: translateY(-25px);
    }
    to {
        transform: translateY(0);
    }
}
.snap-in-from-top {
    opacity: 0;
    -webkit-animation: from-top 200ms ease-out 200ms forwards, fade-in 250ms linear 200ms forwards;
    animation: from-top 200ms ease-out 200ms forwards, fade-in 250ms linear 200ms forwards;
}

.shine {
    position: relative;
    overflow: hidden;
}

.shine:before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.shine.shine--on_hover:hover::before, .shine.shine--active:before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

.shine.shine--lighter::before {
    opacity: 0.4;
}
.shine.shine--much_lighter::before {
    opacity: 0.25;
}

@-webkit-keyframes shine {
	100% {left: 125%;}
}
@keyframes shine {
	100% {left: 125%;}
}


@-webkit-keyframes shine-text {
    0%,40% {
        background-position: -70rem
    }
    100% {
        background-position: 70rem
    }
}
@keyframes shine-text {
    0%,40% {
        background-position: -70rem
    }
    100% {
        background-position: 70rem
    }
}



.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgba(255,255,255,0.0);
    border-radius: 5px;
}

/* ==========================================================================================
   Area Container
   ========================================================================================== */

#area {
    padding: 0 0 20px 0;
}

#area .panel.promo {
    height: 345px;
    width: 446px;
}
#area .panel.promo-2 {
    height: 172px;
    width: 446px;
}
#area .panel.promo-4 {
    height: 223px;
    width: 223px;
}
#area .panel.promo-3 {
    position: relative;
}
.promo-3 > h2, .promo-3 .promo-inner > h2 {
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-size: 24px;
    line-height: 40px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    transform: scale(1.05, 0.97);
    transform-origin: bottom right;
    letter-spacing: 1px;
}

.promo-5 {
    padding: 40px;
    color: #fff;
}

.promo-5 ul {
    padding: 20px;
    list-style-type: circle;
}

.promo-5 a {
    color: #fff;
    letter-spacing: .5px;
}
.promo-5:hover a {
    text-shadow: 0 1px 5px rgba(0,0,0,0.2);
}
.promo-5 a:hover {
    color: #fff;
    text-decoration: underline;
}

/* ==========================================================================================
   Discord Area
   ========================================================================================== */

/* Promo Discord
------------------------------------------------------------------------------------------ */
.promo--dtg_discord {
    background: url(/assets/images/DTG_Discord/Splash-Box.png) no-repeat -30px top / auto 425px;
}
.promo--dtg_discord .top-content {
    padding: 15px 0 15px 60px;
    background: url(/assets/images/DTG_Discord/Avatar-TransparentEdge.png) no-repeat 0 1px / 60px 60px;
}
.promo--dtg_discord .top-content h4 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 10.5px;
    line-height: 11px;
    transform: scale(1.1, 0.9);
    transform-origin: left top;
    color: #8BA1F0;
}
.promo--dtg_discord .top-content h3 {
    margin: 0;
    transform: scale(1.1, 0.9);
    transform-origin: left top;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 24px;
    color: #fff;
}
.promo--dtg_discord .bottom-content {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}
.promo--dtg_discord .bottom-content h4 {
    border-right: 1px solid #758CDD;
    padding-right: 20px;
    margin-right: 15px;
    font-size: 13px;
    font-size: 0;
    width: 90px;
    height: 44px;
    background: url(/assets/images/DTG_Discord/Official-Partner.png) no-repeat 10px center / 95px auto;
}
.promo--dtg_discord .bottom-content h3 div:first-child {
    font-weight: 400;
    text-transform: uppercase;
    transform: scale(1.1, 0.9);
    transform-origin: left top;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 10px;
    color: #fff;
    line-height: 10px;
    margin-top: 2px;
}
.promo--dtg_discord .bottom-content h3 div:last-child {
    font-weight: 500;
    text-transform: uppercase;
    transform: scale(1.1, 0.9);
    transform-origin: left top;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    margin-top: 2px;
}

/* Promo Clan Recruitment
------------------------------------------------------------------------------------------ */
.promo--clanrecruit {
    background: url(/assets/images/DTG_Discord/Splash-Box-2.png) no-repeat center / cover;
    border-top: 2px solid white;
}
.promo--clanrecruit h3 {
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 0 5px #fff;
}
.promo--clanrecruit h4 {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
    color: rgba(255,255,255,0.8)
}


/* Promo DTGD
------------------------------------------------------------------------------------------ */
.promo--dtgd {
    background: url(/assets/images/DTG_Discord/Splash-Box-2.png) no-repeat center / cover;
    border-top: 2px solid white;
    padding: 20px;
    position: relative;
}
.promo--dtgd:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0));
}
.promo--dtgd > * {
    position: relative;
}

#area .panel.promo-2.promo--dtgd {
    height: 270px;
}

.promo--dtgd h3 {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 13px;
    line-height: 11px;
    transform: scale(1.1, 0.9);
    transform-origin: left top;
    color: hsla(227, 90%, 85%, 1);
    text-shadow: 0 1px 5px rgba(0,0,0,0.5);
}
.promo--dtgd h2 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

    font-size: 22px;
    color: #fff;
    transform: scale(1.05, 0.92);
    transform-origin: left top;
    text-shadow: 0 1px 4px hsla(227, 77%, 70%, 1);
}

.promo--dtgd p {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 15.5px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    font-weight: 300;
    transform: scale(1.03, 0.95);
    transform-origin: left top;
}

.promo--dtgd:hover:before {
    background: linear-gradient(rgba(0,0,0,0.45) 40%, rgba(0,0,0,0.25) 70%, rgba(0,0,0,0));
}
.promo--dtgd button {
    display: block;
    border: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    color: hsl(243, 66%, 60%);
    position: relative;
    transition: bottom 100ms ease-out, background 10ms, box-shadow 100ms ease-out;
    outline: none !important;
}
.promo--dtgd:hover button {
    top: -2px;
    box-shadow: 0 4px 10px rgba(50,50,93,.8), 0 1px 6px rgba(0,0,0,.65);
}
.promo--dtgd button:hover {
    background: hsl(243, 95%, 98%);
    color: hsl(243, 66%, 45%);
}

/* ==========================================================================================
   Misc Area
   ========================================================================================== */

/* Promo OrangeChat
------------------------------------------------------------------------------------------ */
.promo--orangechat {
    background: #e64a19;
}
.promo--orangechat svg {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 32px auto 0;
}

/* Promo IRC
------------------------------------------------------------------------------------------ */
.promo--irc {
    background: #377EF0;
}

.promo--irc .icon {
    font-size: 80px;
    color: #fff;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 65px auto 0;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

/* Promo Useful Sites
------------------------------------------------------------------------------------------ */
.promo--usefulsites {
    background: #21b369;
}

/* Promo This Week
------------------------------------------------------------------------------------------ */
#area .promo.promo--this-week {
    background: #ff9000;
    height: 310px;
}
.promo--this-week__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 308px;
    height: 310px;
    padding: 10px 0 10px 20px;
    box-sizing: border-box;
    font-size: 15px;
}
.promo--this-week ul li {
    margin-bottom: 5px;
}
.promo--this-week__spacer {
    position: absolute;
    top: 0;
    right: 0;
    width: 138px;
    height: 310px;
    background: url(/assets/images/allies-zavala-1440.jpg) no-repeat -319px 0px / cover;
}

/* Promo Destiny Lore
------------------------------------------------------------------------------------------ */
#area .promo.promo--destinylore {
    background: rgb(129, 61, 53)
}
.promo--destinylore:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 290px;
    background: url(/assets/images/exo01.jpg) no-repeat center / cover;
}

/* ==========================================================================================
   Reddit Area
   ========================================================================================== */

/* Promo Subreddit
------------------------------------------------------------------------------------------ */
.promo--subreddit {
    background: #f04923;
}

.promo--subreddit svg {
    -webkit-filter: drop-shadow( 0px 2px 5px hsl(11, 87%, 54%) );
    filter: drop-shadow( 0px 2px 5px hsl(11, 87%, 54%) );
}

.promo--subreddit .top-content {
    margin-top: 20px;
    margin-bottom: 20px;
}
.promo--subreddit .top-content h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 10.5px;
    text-align: center;
    opacity: 0.8;
}
.promo--subreddit .top-content h3 {
    color: #fff;
    text-shadow: 0 1px 3px hsl(11, 87%, 54%);
    letter-spacing: 3px;
    text-align: center;
    font-size: 24px
}
.promo--subreddit .top-content h5 {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px hsla(11, 87%, 54%, 0.5);
}

.promo--subreddit .middle-content {
    justify-content: center;
    transform: scale(0.7);
    transform-origin: center;
}

.promo--subreddit .middle-content .icon--reddit {
    width: 90px;
    height: 90px;
}
.promo--subreddit .middle-content .icon--plus, .middle-content .icon--equals {
    width: 60px;
    height: 60px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}
.promo--subreddit .middle-content .icon--plus:before,
.promo--subreddit .middle-content .icon--equals:after,
.promo--subreddit .middle-content .icon--equals:before {
    content: '';
    display: block;
    width: 100%;
    height: 25%;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.promo--subreddit .middle-content .icon--plus:after {
    content: '';
    display: block;
    height: 100%;
    width: 25%;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.promo--subreddit .middle-content .icon--tricorn {
    width: 70px;
    height: 70px;
    margin-top: 10px;
}

.promo--subreddit .middle-content .icon--equals:after {
    top: 50%;
}
.promo--subreddit .middle-content .icon--equals:before {
    bottom: 50%;
}

.promo--subreddit .middle-content .icon--heart {
    width: 80px;
    height: 80px;
    position: relative;
}

.promo--subreddit .middle-content .icon--heart .hexagon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80px;
    height: 80px;
}

.promo--subreddit .middle-content .icon--heart .fa {
    color: #fff;
    font-size: 45px;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.promo--subreddit .top-content > * {
    z-index: 2;
    position: relative;
}
.promo--subreddit:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url(/assets/images/TestBottom2.png) no-repeat center top / cover;
    opacity: 0.35;
}
.promo--subreddit > * {
    z-index: 1;
    position: relative;
}
.promo--subreddit .bottom-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.promo--subreddit .bottom-content button {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: hsla(11, 94%, 61%, 1);
    box-shadow: 0 1px 3px hsla(11, 65%, 40%, 1);
    color: #fff;
    border: 0;
    line-height: 45px;
    height: 45px;
    width: 200px;
    border-radius: 3px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: bottom 100ms ease-out, background 10ms;
    outline: none !important;
}

.promo--subreddit:hover .bottom-content button,
.promo--subreddit:hover .bottom-content:before {
    bottom: 33px;
}

.promo--subreddit .bottom-content button:hover {
    background: hsla(11, 94%, 65%, 1);
}

.promo--subreddit .bottom-content:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: hsla(11, 94%, 85%, 1);
    width: 200px;
    height: 45px;
    border-radius: 3px;
    opacity: 0.2;
    transition: bottom 100ms ease-out;
    animation: promo-subreddit-button-pulse 2s ease-out infinite;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    will-change: transform;
}

@keyframes promo-subreddit-button-pulse {
    0% {
        opacity: 0.2;
        transform: translateZ(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateZ(0) scale(1.2, 1.7);
    }
}

/* Promo Subreddit Flair
------------------------------------------------------------------------------------------ */
#area .panel.promo.promo--subreddit_flair {
    height: 215px;
    background: #e54624;
    background:
        linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%,
            transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%,
            transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%,
            transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%,
            transparent 77%, transparent),
        #e54624;
    background-size: 50px 50px;
}

.faux-comment {
    background: #e54624;
    width: 380px;
    margin: 0 auto;
    position: relative;
    top: 30px;
}
.faux-comment-inner {
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.1);
    transition: background 200ms ease-out;
    transition-delay: 50ms;
}

.promo--subreddit_flair:hover .faux-comment-inner {
    background: rgba(255,255,255,0.2);
    animation: faux-comment-hoverbg 1s linear 0.4s forwards;
}
@keyframes faux-comment-hoverbg {
    from {
        background: rgba(255,255,255,0.2);
    }
    to {
        background: rgba(255,255,255,0.15);
    }
}

.faux-comment-flair {
    width: 54px;
    height: 54px;
    box-sizing: border-box;
    border-radius: 3px;
    position: relative;
    border: 1px solid #fff;
    background: rgba(255,255,255,0.1);
    transition: background 200ms ease-out;
    transition-delay: 50ms;
}
.promo--subreddit_flair:hover .faux-comment-flair {
    background: rgba(255,255,255,0.2);
}
.faux-comment-flair-arrows {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 200ms ease-out;
    transition-delay: 50ms;
}
.promo--subreddit_flair:hover .faux-comment-flair-arrows {
    transform: scale(0.9);
    transform-origin: center;
}
.faux-comment-flair-arrows-1:before, .faux-comment-flair-arrows-1:after {
    content: '';
    display: block;
    position: absolute;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    width: 0;
    height: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.faux-comment-flair-arrows-1:before {
    top: 3px;
    border-top: 4px solid #fff; /* hsl(232, 20%, 32%); */
}
.faux-comment-flair-arrows-1:after {
    bottom: 3px;
    border-bottom: 4px solid #fff; /* hsl(232, 20%, 32%); */
}
.faux-comment-flair-arrows-2:before, .faux-comment-flair-arrows-2:after {
    content: '';
    display: block;
    position: absolute;
    border-top: 4.5px solid transparent;
    border-bottom: 4.5px solid transparent;
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.faux-comment-flair-arrows-2:before {
    left: 3px;
    border-left: 4px solid #fff; /* hsl(232, 20%, 32%); */
}
.faux-comment-flair-arrows-2:after {
    right: 3px;
    border-right: 4px solid #fff; /* hsl(232, 20%, 32%); */
}

.faux-comment-flair-inner {
    width: 100%;
    height: 100%;
    text-align: center;
}
.faux-comment-flair .icon {
    color: hsl(232, 20%, 32%);
    color: #fff;
    font-size: 22px;
    margin-top: 14.5px;
}

.faux-comment-body {
    flex-grow: 1;
    padding-left: 10px;
}

.faux-comment-tagline {
    display: flex;
    align-items: center;
    color: #fff;
}
.faux-comment-tagline-points {
    font-size: 11px;
    margin-left: 10px;
    color: rgba(255,255,255,0.75);
}
.faux-comment-tagline-username {
    font-size: 14px;
}

.faux-comment-text-stripe {
    width: 100%;
    height: 14px;
    background: hsla(0, 0%, 100%, 0.3);
    margin: 0 0 5px;
    border-radius: 2px;
    max-width: 240px;
}
.faux-comment-text-stripe:last-child {
    max-width: 200px;
}

/* ==========================================================================================
   Tweets Area
   ========================================================================================== */
.area--tweets {
    width: 350px;
    box-sizing: border-box;
}
.tweet {
    padding: 18px 20px 15px 15px;
    margin-bottom: 2px;
}
.tweet__displayName {
    font-size: 14px;
}
.tweet a.tweet__screenName {
    color: rgba(245, 245, 245, 0.65);
    opacity: 0.5;
}
.tweet a.tweet__screenName:hover {
    opacity: 0.7;
}
.tweet__screenName:before, .tweet__screenName span {
    font-size: 13px;
}
.tweet__body {
    margin-top: 2px;
    font-family: -apple-system,BlinkMacSystemFont,Arial,sans-serif,
        "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}
.tweet__footer {
    margin-top: 3px;
}
.tweet__footer svg.icon {
    width: 14px;
    height: 14px;
}
.tweet__footer svg.icon path {
    fill: #fff;
    opacity: 0.8;
}
.tweet__createdAt {
    font-size: 12px;
    margin-left: 8px;
}

/* Header Panel
------------------------------------------------------------------------------------------ */
.tweets__header {
    background: #1da1f2;
    display: flex;
    align-items: center;
    padding: 20px 20px 20px;
    position: relative;
}
.tweets__header h2 {
    color: rgba(255,255,255,0.85);
}
.tweets__header svg {
    margin-right: 20px
}
.tweets__header:after {
    content: '';
    display: block;
    position: absolute;
    border-top: 10px solid #1da1f2;
    border-left: 10.5px solid transparent;
    border-right: 10.5px solid transparent;
    width: 0;
    height: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 100%;
}

/* Footer Panel
------------------------------------------------------------------------------------------ */
.tweets__seeMore {
    padding: 20px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
}
.tweets__seeMore span {
    opacity: 0.6;
}
.tweets__seeMore:hover span {
    opacity: 1;
}


/* ==========================================================================================
   Media Queries
   ========================================================================================== */
.area--tweets {
    transition: width 100ms ease;
}

@media (max-width: 1260px) {
    .area--tweets {
        width: 446px;
    }
}

@media (max-width: 1130px) {
    #banner > #banner__stars {
        background: rgba(0,0,0,0.5);
    }
}

@media (max-width: 910px) {
    #banner__wrap {
        padding-left: 0;
    }

    #banner__linksWrap, #banner__title {
        margin-left: auto;
        margin-right: auto;
    }

    #banner__panels {
        position: static;
        top: 0;
        margin-left: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        right: 0;
        padding: 10px;
        margin-top: 50px;
    }

    #banner__panels .panel {
        width: 310px;
        margin-top: 0 !important;
        margin-right: 10px;
    }
}

@media (max-width: 690px) {

    #banner__title {
        transform: scale(0.9);
    }

    #banner__panels {
        flex-direction: column;
        align-items: center;
    }

    #banner__panels .panel {
        margin-top: 10px !important;
    }
}

@media (max-width: 450px) {
    #banner__title {
        transform: scale(0.85);
    }
}

@media (max-width: 425px) {
    #banner__title {
        transform: scale(0.8);
    }
}