/* Simple Reset
------------------------------------------------------------------------------------------ */

* { margin: 0; padding: 0; }

html, body {
    overflow-x: hidden;
    min-height: 100%;
}

html {
    overflow-y: scroll;
}

body {
    font-size: 15px;
    line-height: 24px;
    font-family: 'Roboto', Arial, sans-serif;
}

section, footer, header, aside, nav{
    display: block;
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    outline: 0 none;
}

a {
    color: #3577BE;
	text-decoration: none;
    outline: 0;
    border: none;
}

a:hover {
	text-decoration: none;
    cursor: pointer;
}

pre.xdebug-var-dump {
    color: black;
}

/* Headers
------------------------------------------------------------------------------------------ */

h1,h2,h3 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

h4 {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/* Helpers
------------------------------------------------------------------------------------------ */

.fl { float: left; }
.flC > * { float: left; }
.fr { float: right; }
.frC > * { float: right; }

.fsplit {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}
.fsplit2  > * { flex-basis: 50%; }
.fsplit3  > * { flex-basis: 33.33%; }
.fsplit4  > * { flex-basis: 25%; }
.fsplit5  > * { flex-basis: 20%; }
.fsplit6  > * { flex-basis: 16.66%; }
.fsplit7  > * { flex-basis: 14.28%; }
.fsplit8  > * { flex-basis: 12.5%; }
.fsplit9  > * { flex-basis: 11.11%; }
.fsplit10 > * { flex-basis: 10%; }

.valign {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.talign {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.balign {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.calign {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
}

.halign {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
}

.grow {
    -webkit-flex-grow: 1 !important;
    flex-grow: 1 !important;
}

.dispBlock { display: block !important; }
.dispInline { display: inline !important; }
.dispInlineBlock { display: inline-block !important; }
.dispFlex { display: -webkit-flex !important; display: flex !important; }
.dispInlineFlex { display: inline-flex !important; }
.flexWrap { flex-wrap: wrap !important; }

.posStatic { position: static !important; }
.posRel { position: relative !important; }
.posAbs { position: absolute !important; }
.posFixed { position: fixed !important; }

.centerHoriz { margin: 0 auto; }
.centerVert { margin: auto 0; }
.centerBoth { margin: auto; }

.textAlignLeft { text-align: left; }
.textAlignRight { text-align: right; }
.textAlignCenter { text-align: center; }
.fontWeight100 { font-weight: 100; }
.fontWeight200 { font-weight: 200; }
.fontWeight300 { font-weight: 300; }
.fontWeight400 { font-weight: 400; }
.fontWeight500 { font-weight: 500; }
.fontWeight600 { font-weight: 600; }
.fontWeight700 { font-weight: 700; }

.fontItalic { font-style: italic; }

.clearfix:before,.clearfix:after, .cf:before, .cf:after {content:"";display:table;}
.clearfix:after, .cf:after {clear:both;}
.clearfix, .cf {zoom:1;}
.hide { display: none !important; }
.visHide { visibility: hidden !important; }

.full-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.back-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 10px;
    margin: 30px;
    border-radius: 6px 6px 6px 0;
    line-height: 32px;
    padding: 0 15px;
    box-sizing: border-box;
    border: 2px solid white;
}


.spacer, .spacer-vert {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.spacer-horiz {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.spacer-all {
    margin: 15px !important;
}
.spacer-top {
    margin-top: 15px !important;
}
.spacer-bottom {
    margin-bottom: 15px !important;
}
.spacer-left {
    margin-left: 15px !important;
}
.spacer-right {
    margin-right: 15px !important;
}

.spacer10, .spacer10-vert {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.spacer10-horiz {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.spacer10-all {
    margin: 10px !important;
}
.spacer10-top {
    margin-top: 10px !important;
}
.spacer10-bottom {
    margin-bottom: 10px !important;
}
.spacer10-left {
    margin-left: 10px !important;
}
.spacer10-right {
    margin-right: 10px !important;
}

.spacer5, .spacer5-vert {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.spacer5-horiz {
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.spacer5-all {
    margin: 5px !important;
}
.spacer5-top {
    margin-top: 5px !important;
}
.spacer5-bottom {
    margin-bottom: 5px !important;
}
.spacer5-left {
    margin-left: 5px !important;
}
.spacer5-right {
    margin-right: 5px !important;
}

.spacer3, .spacer3-vert {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}
.spacer3-horiz {
    margin-left: 3px !important;
    margin-right: 3px !important;
}
.spacer3-all {
    margin: 3px !important;
}
.spacer3-top {
    margin-top: 3px !important;
}
.spacer3-bottom {
    margin-bottom: 3px !important;
}
.spacer3-left {
    margin-left: 3px !important;
}
.spacer3-right {
    margin-right: 3px !important;
}

.spacer20, .spacer20-vert {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.spacer20-horiz {
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.spacer20-all {
    margin: 20px !important;
}
.spacer20-top {
    margin-top: 20px !important;
}
.spacer20-bottom {
    margin-bottom: 20px !important;
}
.spacer20-left {
    margin-left: 20px !important;
}
.spacer20-right {
    margin-right: 20px !important;
}

/* HTTP error pages
------------------------------------------------------------------------------------------ */
#http-error {
    text-align: center;
    padding-top: 70px;
}

#http-error #tagline {
    text-transform: uppercase;
    color: white;
    letter-spacing: 8px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.42);
    font-size: 22px;
    background: #000;
    padding: 8px 20px;
    display: inline-block;
    margin-bottom: 12px;
    box-shadow: 4px 4px rgba(0,0,0,0.1);
}

#http-error > p:not(.tagline) {
    color: rgba(0,0,0,0.55);
    font-size: 15px;
}

/* Main Layout
------------------------------------------------------------------------------------------ */

main {
    min-height: calc(100vh - 42px); /* 42px -> height of #nav */
    padding: 20px;
    box-sizing: border-box;
}

#nav {
    height: 42px;
    line-height: 42px;
    box-sizing: border-box;
    padding: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: relative;
    z-index: 500;
}

#nav #nav-main {
    height: 42px;
}

#nav .site-title {
    height: 42px;
    margin-left: 20px;
    transition: all 200ms ease;
    position: relative;
    margin-right: 15px;
}

#nav .site-title-a {
    display: block;
    height: 42px;
    transition: all 200ms ease;
}

#nav .site-title-a h1 {
    display: inline-flex;
    height: 42px;
    text-transform: uppercase;
    font-size: 18px;
    color: black;
    letter-spacing: 4px;
    transition: all 200ms ease;
}
#nav .site-title-a:hover h1 {
    color: #b78c25;
}

#nav .site-title:after {
    content: '';
    height: 25px;
    width: 1px;
    background: #bbb;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-right: -10px;
}

@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    #nav .site-title:after {
        width: 0.5px;
    }
}

/* nav banner links (not currently in use)
------------------------------------------------------------------------------------------ */
#nav .banner__links {
    transform: scale(0.6);
    transform-origin: left;
    margin-left: 10px;
}

#nav .banner__links .banner__link svg.hexagon g,
#nav .banner__links .banner__link svg.icon path {
    transition: fill 200ms ease;
}

#nav .banner__links .banner__link:hover svg.hexagon g,
#nav .banner__links .banner__link:hover svg.icon path {
    fill: #b78c25 !important;
}

/* nav links
------------------------------------------------------------------------------------------ */
#nav-links, #nav-links .nav-menu {
    display: -webkit-flex;
    display: flex;
    list-style-type: none;
}

#nav-links > .nav-item {
    height: 42px;
    position: relative;
    cursor: pointer;
}

#nav-links > .nav-item > a {
    display: block;
    position: relative;
    height: 42px;
    background: #fff;
    color: hsla(232, 20%, 32%, 0.9);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 10px;
    font-size: 13px;
    min-width: 105px;
    text-align: center;
    box-sizing: border-box;
    transition: all 250ms ease-out 0s;
    z-index: 3;
}
#nav-links > .nav-item > a > span {
    display: block;
}

#nav-links > .nav-item:hover > a {
    background: #f7f7f7;
}

#nav-links > .nav-item > a:after {
    content: "";
    display: block;
    height: 2px;
    background: #ffce1f;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 0;
    padding: 0;
    transition: all 150ms ease-out 0s;
    pointer-events: none;
}

#nav-links > .nav-item:not(.selected) > a:before {
    content: '';
    display: block;
    position: absolute;
    border-top: 4px solid hsl(232, 20%, 32%);
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    width: 0;
    height: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 6px;
    opacity: 0.35;
}
#nav-links > .nav-item:not(.selected):hover > a:before {
    opacity: 0.5;
}

#nav-links > .nav-item.selected a:after {
    transition: none;
}

#nav-links > .nav-item.selected a:after,
#nav-links > .nav-item:hover a:after {
    width: 100%;
}

#nav-links > .nav-item.selected > a > span:first-child {
    line-height: 30px;
}
#nav-links > .nav-item.selected > a > span:last-child {
    line-height: 20px;
    font-size: 9px;
    margin-top: -10px
}

/* nav submenu links
------------------------------------------------------------------------------------------ */
#nav-links .nav-menu {
    -webkit-flex-direction: column;
    flex-direction: column;
    transition: all 150ms ease-out;
    position: absolute;
    z-index: 2;
    top: 100%;
    width: 200px;
    min-width: 100%;
    opacity: 0;
    background: #1e242b;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.25);
    transform: translateY(-10px);
    height: 0;
    overflow: hidden;
}

#nav-links .nav-item:hover > .nav-menu {
    height: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

#nav-links .nav-menu hr {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background: rgba(255,255,255,0.2);
}

#nav-links .nav-menu > .nav-item {
    width: 100%;
    cursor: pointer;
}
#nav-links .nav-menu > .nav-item a {
    color: #fff;
    font-size: 14px;
    padding: 0 0 0 20px;
    display: block;
}

#nav-links .nav-menu > .nav-item:hover,
#nav-links .nav-menu > .nav-item.selected {
    background: hsla(212, 18%, 20%, 1);
}

/* nav submenu item headers
------------------------------------------------------------------------------------------ */
#nav-links .nav-menu > .nav-item-header {
    color: hsl(212, 10%, 60%);
    font-size: 11px;
    padding: 0 0 0 20px;
    background: hsl(212, 15%, 20%);
    line-height: 22px;
    border-top: 1px solid hsl(212, 12%, 30%);
    border-bottom: 1px solid hsl(212, 12%, 23%);
}

@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    #nav-links .nav-menu > .nav-item-header {
        border-top-width: .5px;
        border-bottom-width: .5px;
    }
}

/* user area
------------------------------------------------------------------------------------------ */
#nav-user-area {
    justify-content: flex-end;
    height: 42px;
}

#nav-user-area .user {
    border-left: 1px solid #e0e0e0;
    position: relative;
    padding: 0;
    height: 42px;
    transition: all 200ms ease;
    min-width: 150px;
    max-width: 250px;
}
#nav-user-area .user:last-child {
    border-right: 1px solid #e0e0e0;
}
#nav-user-area .user:hover {
    background: #f9f9f9;
}

#nav-user-area .icon {
    width: 18px;
    height: 18px;
    margin: 0 10px 0 10px;
    opacity: 0.6;
    transition: all 200ms ease;
}

#nav-user-area .user .user-panel {
    display: block;
    height: 42px;
    flex-grow: 1;
    padding-right: 15px;
}
#nav-user-area .user .user-panel .username {
    display: block;
    font-family: Roboto, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    position: relative;
    top: 10px;
    letter-spacing: 0.5px;
    max-width: 198px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 200ms ease;
}
#nav-user-area .user .user-panel .username span {
    text-transform: none;
}
#nav-user-area .user .user-panel a {
    display: block;
    padding: 0 2px;
    line-height: 15px;
    height: 15px;
    color: #888;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 5px;
    transition: all 200ms ease;
}
#nav-user-area .user .user-panel a:hover {
    color: #b78c25;
}
#nav-user-area .user:not(.logged-out) .user-panel a:after {
    content: "";
    display: block;
    height: 1px;
    background: #ffce1f;
    background: #b78c25;
    position: absolute;
    left: 2px;
    right: 2px;
    bottom: 0;
    margin: 0 auto;
    width: 0;
    padding: 0;
    transition: all 150ms ease-out 0s;
    pointer-events: none;
}
#nav-user-area .user:not(.logged-out) .user-panel a:hover:after {
    width: 91%;
}

#nav-user-area .user.logged-out .user-panel a {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    line-height: 42px;
    width: 100%;
    padding-left: 40px;
    font-size: 14px;
}
#nav-user-area .user.logged-out:hover .icon {
    opacity: 0.65;
}

/* Media Queries
------------------------------------------------------------------------------------------ */
@media (max-width: 1040px) {
    #nav {
        margin-bottom: 42px;
        box-shadow: none;
    }

    #nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        box-sizing: border-box;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        background: #fff;
        border-top: 1px solid #eaeaea;
    }

    #nav-user-area .user, #nav-user-area .user:last-child {
        border-color: #eaeaea;
    }

    #nav .site-title:after {
        display: none;
    }

    #nav-user-area .user {
        min-width: auto;
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #nav-user-area .user .user-panel {
        padding-right: 0;
        width: calc(100% - 32px);
    }
}

@media (max-width: 990px) {
    #nav .site-title {
        margin-left: 10px;
    }
    #nav .site-title-a h1 {
        display: flex;
        flex-direction: column;
        line-height: 15px;
        justify-content: center;
        height: 42px;
        font-size: 13px;
    }
    #nav .site-title-a h1 .sep {
        display: none;
    }
    #nav-user-area .user .user-panel .username {
        font-size: 10.5px;
    }

    #nav-user-area .user .user-panel a {
        font-size: 10px;
    }
}

/* Banner Links
------------------------------------------------------------------------------------------ */

.banner__links {
    display: flex;
    align-items: center;
}
.banner__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 10px;
    transition: all 200ms ease;
    width: 60px;
    height: 60px;
    opacity: 0.75;
}
.banner__link:hover {
    opacity: 1;
}
.banner__link > span {
    display: none;
}
.banner__link > svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/* Tweets (basic layout)
------------------------------------------------------------------------------------------ */
.tweet__header {
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
}

.tweet__userAvatar {
    margin-right: 10px;
}

.tweet__userAvatar img {
    height: 40px;
    height: 40px;
    border-radius: 3px;
}

.tweet__username {
    display: flex;
    flex-direction: column;
    line-height: 17px;
    justify-content: flex-start;
    align-items: flex-start;
}

.tweet__displayName {
    font-size: 15px;
}
.tweet__screenName {
    font-size: 0;
}
.tweet__screenName:before {
    content: '@';
    font-size: 13px;
}

.tweet__screenName span {
    font-size: 13px;
}

.tweet__footer {
    display: flex;
    align-items: center;
}

.tweet__footer > svg:first-child {
    width: 17px;
    height: 17px;
}

.tweet__createdAt {
    margin-left: 10px;
    font-size: 13px;
}

.tweet {
    position: relative;
}

.tweet__overlayLink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tweet__body a, .tweet__screenName {
    position: relative;
    z-index: 10;
}

/* Footer
------------------------------------------------------------------------------------------ */
#footer-parent {
    background: hsla(210, 22%, 10%, 1);
    box-shadow: 0 -2px 50px rgba(0,0,0,0.1);
    color: rgba(255,255,255,0.4);
    padding: 40px 0 40px 0;
    font-size: 12px;
    line-height: 16px;
}
#footer-banner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: 650px;
    margin: 0 auto;
}

#footer-info {
    max-width: 390px;
}
#footer-info a {
    color: rgba(255,255,255,0.65);
}
#footer-info a:hover {
    text-decoration: underline;
}
#footer-info h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    color: rgba(255,255,255,0.8);
    letter-spacing: 4px;
    margin-bottom: 10px;
    display: inline-block;
}
#footer-info h3 > span:last-child {
    letter-spacing: 0;
}
#footer-info h3:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: rgba(255,255,255,0.75);
    margin-bottom: 5px;
}

#footer-links {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
}
#footer-links .banner__link:last-child {
    margin-right: 0;
}